            <div id="wrapper" class="padding">
                <section id="mentions-legales" class="pied-de-page contenu">
                    <h2>Mentions légales</h2>
                    <p><strong>Dojoctylo</strong> est un site web entièrement imaginé, développé et maintenu par <strong>Baptiste Vannesson</strong> dans le cadre du M1-DNR2I à l'<strong>Université de Caen Basse-Normandie</strong>.</p>
                    <address>
                        Baptiste Vannesson<br/>
                        Adresse : 13, rue de la Grâce de Dieu 14610 Épron<br/>
                        E-mail : <a href="mailto:21411850@etu.unicaen.fr">21411850@etu.unicaen.fr</a><br/>
                        Téléphone : +33 (0)6 74 51 76 51
                    </address>
                    <p>Le site est hébergé à titre gratuit sur les serveurs du départment informatique de l'<strong>Université de Caen Basse-Normandie</strong>.</p>
                    <address>
                        Université de Caen Basse-Normandie, Campus 2<br/>
                        Adresse : Campus Côte de Nacre, Boulevard du Maréchal Juin CS 14032 14032 CAEN cedex 5<br/>
                        Téléphone : +33 (0)2 31 56 74 86<br/>
                        Fax : +33 (0)2 31 56 73 30
                    </address>
                    <p>À noter que toutes les images utilisées sur ce site sont supposées appartenir au domaine public, sauf rares exceptions sous licence Creative Commons. Si vous êtes l'auteur d'une image et que celle-ci est protégée par une licence qui empêche sa libre diffusion, veuillez contacter <strong>Baptiste Vannesson</strong>.</p>
                    <p>Merci notamment à <strong>Oxana K (oxanaart)</strong> pour les icônes de partage : <a href="http://oxanaart.deviantart.com/art/Free-Social-Icon-set-197809786?moodonly=1" target="_blank">http://oxanaart.deviantart.com/art/Free-Social-Icon-set-197809786?moodonly=1</a></p>
                    <p>Enfin, les informations recueillies sur ce site sont nécessaires pour votre adhésion.</p>
                    <p>Elles font l’objet d’un traitement informatique et ne sont en aucun cas divulguées. En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.</p>
                    <p>Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à <strong>Baptiste Vannesson</strong>.</p>
                </section>
            </div>
