            <div id="wrapper" class="padding">
                <section id="plan-du-site" class="pied-de-page contenu">
                    <h2>Plan du site</h2>
                    <ul>
                        <li><a href="index.php">Accueil</a></li>
                        <li>
                            <a href="index.php?p=apprendre">Apprendre</a>
                            <ul>
                                <li><a href="index.php?p=conseils">Conseils</a></li>
                                <li><a href="index.php?p=tutoriels">Tutoriels</a></li>
                                <li><a href="index.php?p=ergonomie">Ergonomie</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.php?p=pratiquer">Pratiquer</a>
                            <ul>
                                <li><a href="index.php?p=exercices">Bases</a></li>
                                <li><a href="index.php?p=exercices">Trigrammes</a></li>
                                <li><a href="index.php?p=exercices">Mots</a></li>
                                <li><a href="index.php?p=exercices">Proverbes</a></li>
                                <li><a href="index.php?p=exercices">Pangrammes</a></li>
                                <li><a href="index.php?p=exercices">Nombres</a></li>
                                <li><a href="index.php?p=exercices">Textes</a></li>
                                <li><a href="index.php?p=exercices">Code</a></li>
                                <li><a href="index.php?p=exercices">Jeux</a></li>
                            </ul>
                        </li>
                        <li><a href="index.php?p=affronter">Affronter</a></li>
                        <li><a href="index.php?p=mentions-legales">Mentions légales</a></li>
                        <li><a href="index.php?p=faq">FAQ</a></li>
                        <li><a href="mailto:21411850@etu.unicaen.fr">Contact</a></li>
                        <li><a href="index.php?p=plan-du-site">Plan du site</a></li>
                        <li><a href="index.php?p=profil">Mon compte</a></li>
                    </ul>
                </section>
            </div>
