            <div id="wrapper" class="padding">
                <article class="tuto">
                    <div id="en-tete">
                        <h2>Découverte des lettres avec dix doigts</h2>
                        <p>
                            Disposition : AZERTY<br/>
                            Niveau : jeune apprenti
                        </p>
                    </div>
                    <div id="colonnes">
                        <aside>
                            <img src="images/charte-graphique/fountain-159791_640.png" alt="Fontaine" />
                            <div class="contenu anecdotes">
                                <h4>Le saviez-vous ?</h4>
                                <p>Le clavier est un réel problème de santé publique. Chaque année, il est la cause directe d'un grand nombre d'arrêts maladie en entreprise pour sa contribution aux troubles musculosquelettiques (TMS) ; syndrome du canal carpien en tête. Donc apprenez à bien taper : c'est bon pour la santé&nbsp;!</p>
                            </div>
                        </aside>
                        <div id="texte-principal" class="contenu">
                            <h3>Introduction</h3>
                            <p>Vous voulez apprendre à taper en AZERTY avec vos dix doigts sans regarder votre clavier mais vous ne savez pas comment vous y prendre ? Pas de problème, maître Taipingu est là pour vous enseigner les bases de la discipline !</p>
                            <h3>Premiers pas</h3>
                            <p>Commencez par regarder attentivement votre clavier.</p>
                            <img src="images/contenu/Azerty_fr.png" alt="AZERTY" />
                            <p>Votre première mission, si vous l'acceptez, va être de vous familiariser avec ce que vous avez sous les yeux. Dans un premier temps, essayez de retenir visuellement, même si c'est approximatif, la position des lettres standard. Une fois ceci fait, mettez l'index de votre main gauche sur le F et l'index de votre main droite sur le J. Vous devez normalement sentir des « traits » en relief sur ces deux touches. Il s'agit en fait des repères de base pour la frappe à l'aveugle. Et qui dit repères de base, dit position de base... Laissez vos deux index sur les touches F et J et faites en sorte que vos autres doigts soient sur la même rangée de touches, sauf vos pouces qui doivent reposer sur la barre espace. Si tout se passe bien, vous devriez donc avoir vos deux pouces sur la barre espace et, de gauche à droite :</p>
                            <ul>
                                <li>L'auriculaire gauche sur le Q</li>
                                <li>L'annulaire gauche sur le S</li>
                                <li>Le majeur gauche sur le D</li>
                                <li>L'index gauche sur le F</li>
                                <li>L'index droit sur le J</li>
                                <li>Le majeur droit sur le K</li>
                                <li>L'annulaire droit sur le L</li>
                                <li>L'auriculaire droit sur le M</li>
                            </ul>
                            <p>Si vous êtes perdu(e), voici un petit rappel qui devrait vous aider :</p>
                            <img src="images/contenu/main-doigts.png" alt="Doigts de la main" />
                            <p>Une fois dans cette position, essayez d'imaginer comment vous pourriez atteindre les autres touches que vous avez mémorisées plus tôt. Si c'est un peu dur pour l'instant, vous pouvez bien sûr regarder votre clavier.</p>
                            <p>Même si vous connaissez maintenant la position de base et que vous avez regardé votre clavier, vous ne savez pas forcément quel doigt utiliser pour atteindre telle ou telle touche. Rassurez-vous, c'est normal. Pour vous aider à bien démarrer, voici le minimum vital que tout dactylographe doit connaître sur le bout des doigts :</p>
                            <img src="images/contenu/position-doigts_azerty.png" alt="Guide visuel pour bien taper en AZERTY" />
                            <p>Regardez ce guide très attentivement. Comme vous pouvez vous en douter, chaque couleur identifie un doigt en particulier. Vous savez donc maintenant quel doigt vous devez utiliser pour atteindre chaque lettre (référez-vous à la position de base que vous venez d'apprendre).</p>
                            <h3>Et après ?</h3>
                            <p>Il vous reste maintenant à vous entraîner jusqu'à ce que vous n'ayez plus besoin de réfléchir ou de regarder le clavier pour trouver la position des lettres à taper. Cela prend du temps, donc ne vous découragez pas tout de suite !</p>
                            <p>Et dites-vous bien que vous devez travailler la mémoire musculaire de vos doigts, pas votre mémoire visuelle. Plus vous persisterez à regarder votre clavier, plus le processus d'apprentissage sera long. Les débuts seront certainement difficiles et même frustrants, mais si vous travaillez sérieusement, vous serez rapidement surpris(e) par vos propres progrès.</p>
                            <p>Bien sûr, il vous reste encore pas mal de théorie à apprendre. Si vous voulez devenir un ninjactylo, il faudra que vous maîtrisiez aussi les effets des touches modificatrices qui font l'objet d'un autre tutoriel.</p>
                        </div>
                    </div>
                </article>
            </div>
