            <div id="wrapper" class="padding">
                <section id="profil">
                    <section id="infos" class="contenu">
                        <h2>Baptiste Vannesson</h2>
                        <img src="images/moi_simpson.jpg" alt="Baptiste Vannesson" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu dui sit amet felis semper consectetur. Fusce et metus eu velit sagittis faucibus ut a orci. Mauris vel imperdiet diam, non porta ipsum. Nam mattis nunc eget ligula euismod sollicitudin. Phasellus ac massa maximus, pellentesque tellus varius, varius enim. Cras tempor efficitur sapien id luctus. Praesent id est sit amet sem vehicula luctus. Mauris vel justo efficitur, mattis justo quis, maximus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada tellus ac venenatis vehicula. Mauris rutrum congue arcu, porttitor lobortis lacus vulputate pharetra. Suspendisse lacinia leo sed orci molestie, et fermentum velit ultrices.</p>
                    </section>
                    <aside id="stats">
                        <section>
                            <h3>Mes scores</h3>
                        </section>
                        <section>
                            <h3>Mes récompenses &amp; distinctions</h3>
                            <div class="trophees">
                                <h4>Débutant</h4>
                                <img src="images/recompenses/debutant/bambou.png" alt="Bambou" title="Bambou" />
                                <img src="images/recompenses/debutant/bonsai.png" alt="Bonsaï" title="Bonsaï" />
                                <img src="images/recompenses/debutant/bol-vide.png" alt="Bol vide" title="Bol vide" />
                                <img src="images/recompenses/debutant/soupe-miso.png" alt="Soupe miso" title="Soupe miso" />
                                <img src="images/recompenses/debutant/sushi.png" alt="Sushi" title="Sushi" />
                            </div>
                            <div class="trophees">
                                <h4>Entraînement</h4>
                                <img src="images/recompenses/entrainement/nunchaku.png" alt="Nunchaku" title="Nunchaku" />
                                <img src="images/recompenses/entrainement/shuriken.png" alt="Shuriken" title="Shuriken" />
                                <img src="images/recompenses/entrainement/tanto.png" alt="Tantō" title="Tantō" />
                                <img src="images/recompenses/entrainement/sai.png" alt="Saï" title="Saï" />
                                <img src="images/recompenses/entrainement/katana-saya.png" alt="Katana" title="Katana" />
                            </div>
                            <div class="trophees">
                                <h4>Vitesse</h4>
                                <img src="images/recompenses/vitesse/karateka.png" alt="Karatéka" title="Karatéka" />
                                <img src="images/recompenses/vitesse/espion.png" alt="Espion" title="Espion" />
                                <img src="images/recompenses/vitesse/guerrier.png" alt="Guerrier" title="Guerrier" />
                                <img src="images/recompenses/vitesse/assassin.png" alt="Assassin" title="Assassin" />
                                <img src="images/recompenses/vitesse/legende.png" alt="Légende" title="Légende" />
                            </div>
                            <div class="trophees">
                                <h4>Compétition</h4>
                                <img src="images/recompenses/competition/defense.png" alt="Défense" title="Défense" />
                                <img src="images/recompenses/competition/duel.png" alt="Duel" title="Duel" />
                                <img src="images/recompenses/competition/melee.png" alt="Mêlée" title="Mêlée" />
                                <img src="images/recompenses/competition/pluie-shurikens.png" alt="Pluie de shurikens" title="Pluie de shurikens" />
                                <img src="images/recompenses/competition/equipe.png" alt="Révolution" title="Révolution" />
                            </div>
                            <div class="trophees">
                                <h4>Prestige</h4>
                                <img src="images/recompenses/prestige/ninja-volant.png" alt="Ninja volant" title="Ninja volant" />
                                <img src="images/recompenses/prestige/reseau-ninja.png" alt="Réseau ninja" title="Réseau ninja" />
                                <img src="images/recompenses/prestige/ninja-superstar.png" alt="Superstar" title="Superstar" />
                                <img src="images/recompenses/prestige/ninja-shaman.png" alt="Shaman" title="Shaman" />
                                <img src="images/recompenses/prestige/maitre-dragon.png" alt="Maître dragon" title="Maître dragon" />
                            </div>
                            <a href="index.php?p=recompenses">Description de toutes les récompenses et distinctions</a>
                        </section>
                    </aside>
                </section>
            </div>
