{% extends '::base.html.twig' %}
{% block title %}
    Apprenez à taper au clavier avec Maître Taipingu | {{ parent() }}
{% endblock %}
{% block content %}
    <div id="wrapper" class="bambou">
        <section id="apprendre" class="padding choix">
            <h2>Apprendre</h2>
            <nav id="sous-menu">
                <ul>
                    <li><a href="{{ path('advice') }}" title="Quelques conseils sacrés pour devenir un ninjactylo">Conseils</a></li>
                    <li><a href="{{ path('tutorials') }}" title="Apprenez à bien taper au clavier avec des tutos adaptés !">Tutoriels</a></li>
                    <li><a href="{{ path('ergonomics') }}" title="Parce que l'ergonomie est importante pour votre santé...">Ergonomie</a></li>
                </ul>
            </nav>
        </section>
        <section class="description">
            <div class="bandeau">
                <p>Que vous soyez une personne très maladroite au clavier, ou au contraire quelqu'un de très adroit avec cet outil, vous avez probablement besoin de Dojoctylo pour votre apprentissage théorique de la dactylographie.</p>
                <p>Contrairement à ce que vous pensez peut-être, apprendre à bien taper n'est pas chose facile. Cela demande beaucoup de temps, de patience, et de rigueur. Si vous tapez actuellement à deux doigts ou avez une technique pas très académique, vous avez encore du travail pour taper en toute confiance avec vos dix doigts sans regarder votre clavier. Si vous êtes déjà à l'aise avec la frappe à l'aveugle, ne pensez pas que tout est acquis pour autant. Vous avez peut-être un gros travail à faire vous aussi, en l'occurrence sur les aspects ergonomiques. Taper vite n'est pas taper mieux. Vous devez trouver le bon compromis qui vous fera gagner en productivité tout en vous évitant de fâcheux problèmes de santé, comme les terribles troubles musculosquelettiques.</p>
                <p>Heureusement, Dojoctylo est là pour vous guider !</p>
            </div>
        </section>
    </div>
{% endblock %}
