{% extends '::base.html.twig' %}
{% block title %}
    Pratiquez encore et toujours pour devenir un ninjactylo | {{ parent() }}
{% endblock %}
{% block content %}
    <div id="wrapper" class="bambou">
        <section id="pratiquer" class="padding choix">
            <h2>Pratiquer</h2>
            <nav id="sous-menu">
                <ul>
                    <li><a href="index.php?p=pratiquer&amp;m=bases&amp;d=facile" title="Découvrez votre clavier">Bases</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=digrammes&amp;d=facile" title="Entraînez-vous sur des séries (récurrentes) de deux lettres">Digrammes</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=trigrammes&amp;d=facile" title="Entraînez-vous sur des séries (récurrentes) de trois lettres">Trigrammes</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=mots&amp;d=facile" title="Tapez des séries de mots usuels... Ou pas tant que ça !">Mots</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=phrases&amp;d=facile" title="Proverbes, pangrammes, phrases célèbres... C'est par ici !">Phrases</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=nombres&amp;d=facile" title="Domptez les nombres, avec ou sans pavé numérique !">Nombres</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=textes&amp;d=facile" title="Mettez en pratique ce que vous avez appris dans les autres modes">Textes</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=code&amp;d=facile" title="Programmeurs, à vos claviers... Êtes-vous prêts à coder ?">Code</a></li>
                    <li><a href="index.php?p=pratiquer&amp;m=custom&amp;d=facile" title="Ajoutez vos propres textes pour une pratique personnalisée">Sur-mesure</a></li>
                </ul>
            </nav>
        </section>
        <section class="description">
            <div class="bandeau">
                <p>Vous pensiez sérieusement que vous alliez devenir un ninjactylo sans vous entraîner ? Allons, allons... Un ninja ne casse pas des planches et des briques à la main sans un minimum d'entraînement. Si vous voulez vraiment que la force du dragon dactylographique soit dans vos doigts, vous allez devoir passer des heures, des jours, des mois, et même des années à pratiquer ! Pour vous aider dans votre tâche, Dojoctylo met à votre disposition tout ce dont vous avez besoin pour un entraînement efficace.</p>
                <p>Pour les plus néophytes du dojo, commencez donc par découvrir doucement votre clavier avec les exercices de base et augmentez la difficulté dès que vous vous sentez plus à l'aise.<br />
                   Pour les plus expérimentés du dojo, des défis de taille vous attendent. Essayez donc le mode difficile dans les différents exercices. Maître Taipingu parie que tout cela vous donnera du fil à retordre !</p>
            </div>
        </section>
    </div>
{% endblock %}
