/* ================================================== */
/* ===================== Global ==================== */
/* ================================================ */

/* ===================== Divers ==================== */

#wrapper {
    padding: 30px 0;
}

.padding {
    padding: 0;
}

.contenu {
    padding: 15px 0;
    border-radius: 0;
}

.contenu h2 {
    text-align: center;
}

/* ====== Choix (Apprendre, Pratiquer, Affronter) ====== */

@media screen and (max-width: 450px) {
    .choix nav#sous-menu ul li {
        width: 90%;
        margin: 5px;
    }
}

/* ================================================== */
/* ===================== Header ==================== */
/* ================================================ */

header {
    height: 90px;
}

header div#liensHeader a:last-of-type {
    display: block;
    padding: 5px;
    width: 100%;
    border-top: solid 1px white;
    text-align: right;
    position: absolute;
    top: 55px;
    right: 0;
}

@media screen and (max-width: 444px) {
    header div#liensHeader a:last-of-type {
        text-align: center;
    }
}

/* ================================================== */
/* ================== Navigation =================== */
/* ================================================ */

nav#top-menu ul li {
    padding: 5px;
}

nav#top-menu ul li a {
    font-size: medium;
}

/* ================================================== */
/* ==================== Accueil ==================== */
/* ================================================ */

section#corps #accueil {
    width: 100%;
}

section#corps #accueil section {
    border-left: 0;
    border-right: 0;
}

section#corps #accueil section aside {
    display: none;
}

section#corps #accueil section article {
    width: 100%;
}

section#corps #accueil section article h2 {
    margin-bottom: 15px;
    border-radius: 10px;
}

section#corps #accueil section article h2 a {
    padding: 5px;
}

/* ================================================== */
/* =================== Connexion =================== */
/* ================================================ */

section#corps section#login-signup {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
}

section#corps section#login-signup h2 {
    font-size: large;
    border: 0;
    text-align: center;
    font-variant: small-caps;
}

section#corps section#login-signup section#login {
    border-bottom: solid 2px white;
}

section#corps section#login-signup section#login,
section#corps section#login-signup section#signup {
    padding: 30px 0;
    box-shadow: none;
    border-radius: 0;
}

section#corps section#login-signup section#login:hover,
section#corps section#login-signup section#signup:hover {
    box-shadow: none;
}

section#corps section#login-signup form {
    width: 100%;
}

section#corps section#login-signup form input {
    width: 60%;
    margin: auto;
}

section#corps section#login-signup form input[type='text'],
section#corps section#login-signup form input[type='password'] {
    border: solid 2px black;
}

section#corps section#login-signup form input[type="submit"] {
    width: 35%;
}

/* ================================================== */
/* ==================== Profil ===================== */
/* ================================================ */

/* ============= Colonne de gauche ============== */

section#corps div#wrapper section#profil section#infos {
    width: 100%;
}

section#corps div#wrapper section#profil section#infos {
    padding-left: 0;
}

section#corps div#wrapper section#profil section#infos p {
    clear: none;
    padding: 0 10px 10px 10px;
    font-size: small;
}

section#corps div#wrapper section#profil section#infos div#presentation,
section#corps div#wrapper section#profil section#infos div#compte-rendu {
    margin-right: 0;
    border-left: 0;
    border-right: 0;
}

section#corps div#wrapper section#profil section#infos div#presentation h2,
section#corps div#wrapper section#profil section#infos div#compte-rendu h3 {
    font-size: x-large;
}

section#corps div#wrapper section#profil section#infos div#compte-rendu h3 {
    margin-bottom: 10px;
}

section#corps div#wrapper section#profil section#infos div#compte-rendu p {
    margin: 0;
    padding-top: 10px;
}

/* ============= Colonne de droite ============== */

section#corps div#wrapper section#profil aside#stats {
    width : 95%;
    margin: auto;
    padding-top: 0;
}

section#corps div#wrapper section#profil aside#stats section:first-of-type {
    width: auto;
    height: auto;
}

section#corps div#wrapper section#profil aside#stats div#placeholder {
    width: 320px;
    height: 160px;
}

section#corps div#wrapper section#profil aside#stats section h3 {
    font-size: x-large;
}

section#corps div#wrapper section#profil aside#stats section div.trophees h4 {
    font-size: small;
    padding: 0;
}

section#corps div#wrapper section#profil aside#stats section div.trophees img {
    height: 30px;
    margin: 0 3px;
}

section#corps div#wrapper section#profil aside#stats section a {
    font-size: small;
}

/* ================================================== */
/* ================== Récompenses ================== */
/* ================================================ */

section#corps section#recompenses > ul > li h3 {
    font-size: x-large;
    padding: 10px;
}

section#corps section#recompenses > ul > li > ul {
    display: block;
    padding: 0;
}

section#corps section#recompenses ul > li > ul > li > figure {
    padding: 10px;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#corps section#recompenses ul > li > ul > li > figure > img {
    height: initial;
    width: 60px;
    margin: auto;
}

section#corps section#recompenses ul > li > ul > li > figure > figcaption {
    width: 40%;
    background-color: transparent;
    text-shadow: 0 0 15px white;
}

/* ================================================== */
/* =================== Apprendre =================== */
/* ================================================ */

/* ================ Page de conseils ================ */

section#corps div#wrapper section#conseils {
    width: 100%;
}

section#corps div#wrapper section#tutoriels p {
    font-size: medium;
    padding: 0 10px;
}

section#corps div#wrapper section#conseils ol li {
    border-left: 0;
    border-right: 0;
}

/* ================== Choix du tutoriel =================== */

section#corps div#wrapper section#tutoriels {
    width: 100%;
}

section#corps div#wrapper section#tutoriels p {
    font-size: medium;
    padding: 0 10px;
}

section#corps div#wrapper section#tutoriels ul {
    display: block;
    width: 100%;
}

section#corps div#wrapper section#tutoriels ul li {
    border-left: 0;
    border-right: 0;
    width: 100%;
}

section#corps div#wrapper section#tutoriels ul li a article p {
    padding-top: 0;
    border-top: 0;
}

section#corps div#wrapper section#tutoriels ul li a article p:first-of-type {
    padding-top: 12px;
    font-size: large;
}

section#corps div#wrapper section#tutoriels ul li a article p:nth-of-type(2) {
    padding-bottom: 12px;
    font-size: large;
}

section#corps div#wrapper section#tutoriels ul li a:hover article p {
    border-top: 0;
}

/* ================== Page de tutoriel =================== */

section#corps div#wrapper article.tuto div#colonnes {
    width: 100%;
}

/* ================== Page sur l'ergonomie =================== */

section#corps div#wrapper section#ergonomie {
    width: 100%;
}

section#corps div#wrapper section#ergonomie div#claviers {
    border-left: 0;
    border-right: 0;
}

section#corps div#wrapper section#ergonomie p {
    font-size: medium;
    padding: 0 10px;
}

/* ================================================== */
/* ============= Pratiquer & Affronter ============= */
/* ================================================ */

section#corps div#noir {
    padding: 30px 0;
}

section#corps div#noir section#exercice {
    width: 75%;
}

/* ================================================== */
/* ====================== 404 ====================== */
/* ================================================ */

section#corps div#wrapper section#erreur p {
    font-size: 30px;
}

section#corps div#wrapper section#erreur img {
    width: 300px;
}

/* ================================================== */
/* ===================== Footer ==================== */
/* ================================================ */

/* ===================== Menu ====================== */

footer {
    height: initial;
    display: block;
}

footer ul:first-of-type {
    width: 100%;
    margin-bottom: 5px;
}

footer ul:first-of-type li {
    display: block;
    margin: 0;
    padding: 5px 0;
    border-bottom: dotted 1px black;
}

footer ul:first-of-type li:after {
    content: "";
}

footer ul:first-of-type li:last-of-type {
    border: 0;
}

footer ul:first-of-type li a {
    display: block;
    font-size: medium;
}

footer ul:last-of-type {
    width: 100%;
    margin: auto;
    padding: 12px 0;
    background-color: black;
}

/* ================= Pages du footer ================= */

section#corps div#wrapper .pied-de-page {
    width: 100%;
}

section#corps div#wrapper .pied-de-page h3,
section#corps div#wrapper .pied-de-page p,
section#corps div#wrapper .pied-de-page address {
    padding: 0 15px;
}

section#corps div#wrapper .pied-de-page h3 {
    font-size: medium;
}

section#corps div#wrapper .pied-de-page p {
    font-size: small;
}

section#corps div#wrapper section#mentions-legales address {
    font-size: small;
}

section#corps div#wrapper section#plan-du-site > ul > li {
    display: block;
    padding: 0;
    background-color: black;
}

section#corps div#wrapper section#plan-du-site ul li a {
    color: white;
    display: block;
}
