<div id="wrapper" class="bambou">
  <section id="conseils" class="padding liste">
    <div class="bandeau">
      <h2>Quelques conseils avisés</h2>
      <p class="italique">&laquo; Un homme ne naît pas ninjactylo. Il le devient en suivant les 7 conseils sacrés. &raquo; &mdash; <span class="gras">Maître Taipingu</span></p>
    </div>
    <ol>
      <li>Ne jamais regarder le clavier, tu devras.</li>
      <li>Tous les jours des exercices, tu feras.</li>
      <li>La précision avant la vitesse, tu travailleras.</li>
      <li>De nombreux claviers différents, tu utiliseras.</li>
      <li>La posture idéale, tu adopteras.</li>
      <li>À la typographie, tu t'intéresseras.</li>
      <li>De beaucoup de patience, tu t'armeras.</li>
    </ol>
  </section>
</div>
