<div id="wrapper" class="padding">
  <section id="mentions-legales" class="pied-de-page contenu">
    <h2>Mentions légales</h2>
    <p><strong>Dojoctylo</strong> est un site web entièrement imaginé, développé et maintenu par <strong>Baptiste Vannesson</strong>.</p>
    <address>
      Baptiste Vannesson<br>
      Adresse : Les Emplaniers Sud 13920 Saint-Mitre-les-Remparts<br>
      E-mail : <a href="mailto:contact@badacadabra.net">contact@badacadabra.net</a><br>
    </address>
    <p>Le site est hébergé en France chez ... <strong>Prestataire</strong>.</p>
    <address>
      Prestataire<br>
      Adresse : lorem ipsum<br>
      Site : lorem ipsum
    </address>
    <p>À noter que toutes les images utilisées sur ce site sont supposées appartenir au domaine public, sauf rares exceptions sous licence Creative Commons. Si vous êtes l'auteur d'une image et que celle-ci est protégée par une licence qui empêche sa libre diffusion, veuillez contacter <strong>Baptiste Vannesson</strong>.</p>
    <p>Merci notamment à <strong>Oxana K (oxanaart)</strong> pour les icônes de partage : <a href="http://oxanaart.deviantart.com/art/Free-Social-Icon-set-197809786?moodonly=1" target="_blank">http://oxanaart.deviantart.com/art/Free-Social-Icon-set-197809786?moodonly=1</a></p>
    <p>Enfin, les informations recueillies sur ce site sont nécessaires pour votre adhésion.</p>
    <p>Elles font l’objet d’un traitement informatique et ne sont en aucun cas divulguées. En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.</p>
    <p>Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à <strong>Baptiste Vannesson</strong>.</p>
  </section>
</div>
