<div id="wrapper" class="padding">
  <article class="tuto">
    <div id="en-tete">
      <h2>Saisie de caractères typographiques complexes</h2>
      <p>
        Disposition : AZERTY<br/>
        Niveau : ninjactylo
      </p>
    </div>
    <div id="colonnes">
      <aside>
        <img src="/images/charte-graphique/illustrations/ninja.png" alt="Ninja">
        <div class="contenu anecdotes">
          <h4>Le saviez-vous ?</h4>
          <p>Alors que la vitesse moyenne de frappe tourne autour de 40 MPM, certaines personnes sont capables d'atteindre des vitesses astronomiques, au-delà de 200 MPM&nbsp;! C'est le cas par exemple de Sean Wrona, un Américain bien connu sur la Toile pour ses records dactylographiques...</p>
        </div>
      </aside>
      <div id="texte-principal" class="contenu">
        <h3>Introduction</h3>
        <p>Certains caractères typographiques posent réellement problème quand on utilise un clavier AZERTY. Les caractères en question n'apparaissent pas toujours sur le clavier et la façon d'y accéder dépend beaucoup du système d'exploitation. Êtes-vous prêt à relever le défi&nbsp;?</p>
        <p>Il y a évidemment de nombreux symboles que vous pourriez être amené(e) à taper un jour ou l'autre, mais nous allons ici nous concentrer sur les principaux caractères particuliers qui feront de vous un ninja du clavier si vous savez les utiliser sans faire de copier-coller et sans passer par la fonction d'insertion ou de correction de votre logiciel de traitement de texte.</p>
        <p>
          Voici les caractères abordés dans ce tutoriel : É È À Ç Ù œ æ Œ Æ &laquo; &raquo; – —<br/>
          (Les deux derniers caractères correspondent respectivement au tiret demi-cadratin et cadratin)
        </p>
        <h3>Sous Linux</h3>
        <p>Le plus simple est que vous optiez pour la disposition &laquo; Français (variante) &raquo;. Vous aurez accès à tous les caractères avec les codes suivants :</p>
        <ul>
          <li>É : Caps Lock + é</li>
          <li>È : Caps Lock + è</li>
          <li>À : Caps Lock + à</li>
          <li>Ç : Caps Lock + ç</li>
          <li>Ù : Caps Lock + ù</li>
          <li>œ : Alt Gr + o</li>
          <li>æ : Alt Gr + a</li>
          <li>Œ : Shift + Alt Gr + o</li>
          <li>Æ : Shift + Alt Gr + a</li>
          <li>&laquo; : Alt Gr + w</li>
          <li>&raquo; : Alt Gr + x</li>
          <li>– : Shift + Alt Gr + (</li>
          <li>— : Shift + Alt Gr + '</li>
        </ul>
        <h3>Sous Mac</h3>
        <ul>
          <li>É : Caps Lock + é</li>
          <li>È : Caps Lock + è</li>
          <li>À : Caps Lock + à</li>
          <li>Ç : Alt + ç</li>
          <li>Ù : Alt + ù</li>
          <li>œ : Alt + q</li>
          <li>æ : Alt + '</li>
          <li>Œ : Alt + Shift + q</li>
          <li>Æ : Alt + Shift + '</li>
          <li>&laquo; : Alt + è</li>
          <li>&raquo; : Alt + Shift + è</li>
          <li>– : Alt + –</li>
          <li>— : Alt + Shift + –</li>
        </ul>
        <h3>Sous Windows</h3>
        <ul>
          <li>É : Alt + 144</li>
          <li>È : Alt + 212</li>
          <li>À : Alt + 183</li>
          <li>Ç : Alt + 128</li>
          <li>Ù : Alt + 235</li>
          <li>œ : Alt + 0156</li>
          <li>æ : Alt + 145</li>
          <li>Œ : Alt + 0140</li>
          <li>Æ : Alt + 146</li>
          <li>&laquo; : Alt + 0171</li>
          <li>&raquo; : Alt + 0187</li>
          <li>– : Alt + 0150</li>
          <li>— : Alt + 0151</li>
        </ul>
        <h3>Et après ?</h3>
        <p>Vous avez maintenant toutes les informations an main pour taper ces caractères correctement. Saurez-vous le faire à l'aveugle ? Rapidement ?</p>
      </div>
    </div>
  </article>
</div>
